<!DOCTYPE html>
<html>
<head>
  <title>Drinks List</title>
</head>
<body>
  <h1>Drinks List</h1>
  <ul>
    <% drinks.forEach((drink) => { %>
      <li><%= drink.name %></li>
    <% }); %>
  </ul>
</body>
</html>
